<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="nl.entreco.giddyapp.profile">

    <dist:module
            dist:onDemand="false"
            dist:instant="false"
            dist:title="@string/title_profile">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity
                android:name=".ProfileActivity"
                android:label="@string/title_profile"
                android:theme="@style/AppTheme.ProfileTheme">

            <intent-filter>
                <action android:name="nl.entreco.profile.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter
                    android:order="4"
                    android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="giddy.entreco.nl"/>
                <data android:pathPrefix="/profile"/>

            </intent-filter>

        </activity>
    </application>
</manifest>

