<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="nl.entreco.giddyapp.profile">

    <dist:module
            dist:instant="false"
            dist:onDemand="false"
            dist:title="@string/title_profile">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
            android:name="nl.entreco.giddyapp.GiddyApp"
            tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity
                android:name=".ProfileActivity"
                android:label="@string/title_profile"
                android:theme="@style/AppTheme.ProfileTheme">

            <intent-filter
                    android:autoVerify="true"
                    android:priority="100">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="giddy.entreco.nl"
                        android:pathPrefix="/profile"
                        android:scheme="http" />
                <data android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
                android:name=".matches.MatchActivity"
                android:theme="@style/AppTheme.ProfileTheme" />
    </application>
</manifest>

