<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="nl.entreco.giddyapp.signup">

    <dist:module
            dist:instant="false"
            dist:onDemand="false"
            dist:title="@string/title_signup">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
            android:name="nl.entreco.giddyapp.GiddyApp"
            tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity
                android:name=".SignupActivity"
                android:label="@string/title_signup"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.SignupTheme">

            <intent-filter
                    android:autoVerify="true"
                    android:order="1">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="giddy.entreco.nl"
                        android:path="/email"
                        android:scheme="https" />

            </intent-filter>

            <!-- For Release -->
            <intent-filter
                    android:autoVerify="true"
                    android:order="2">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="giddy.page.link"
                        android:scheme="https" />

            </intent-filter>

            <!-- For Debug -->
            <intent-filter
                    android:autoVerify="true"
                    android:order="3">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="giddydev.page.link"
                        android:scheme="https" />

            </intent-filter>

        </activity>
    </application>
</manifest>

