<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="nl.entreco.giddyapp.signup">

    <dist:module
            dist:onDemand="false"
            dist:instant="false"
            dist:title="@string/title_signup">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application
            tools:ignore="AllowBackup,MissingApplicationIcon"
            android:name="nl.entreco.giddyapp.GiddyApp">
        <activity
                android:name=".SignupActivity"
                android:label="@string/title_signup"
                android:theme="@style/AppTheme.SignupTheme">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="giddy.entreco.nl"/>
                <data android:pathPattern="/email"/>

            </intent-filter>

        </activity>
    </application>
</manifest>

